@import "../../../../assets/scss/abstracts/variables";

.protcoTableBody {
  .protcoLogo {
    width: 28px;
  }
}

.companyName {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-left: 9em;
}

.content {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
  .edittext {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  .edittext:hover {
    background-color: #e6e6e6;
  }
}
