.portfolioInvestmentWrapper {
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ececec;
  margin-top: 10px;
  padding: 0.7em;
}

.portinHead {
  color: #333333;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto Slab", serif;
}
