.logoWrapper {
  background-color: #fff;
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.imgWrapper {
  width: 40%;
}

.imgWrapper img {
  width: 100%;
}
