.customModalRoleCont {
  display: flex;
  justify-content: space-between;
}

.customRoleChecboxGroup {
  margin-left: 20px;
  margin-top: 7px;
}

.customRoleChecboxGroup label {
  color: #3f3f3f;
  white-space: nowrap;
  // overflow: hidden;
  text-overflow: ellipsis;
  margin: 3px;
}

.createRoleBtn {
  color: white;
  background-color: #633ea5;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
