@import "../../../assets/scss/abstracts/variables";

.FirmProfileInfo {
  .FirmProfileInfo__editIcon {
    margin: 30px 0px;
    text-align: right;

    span {
      font-size: 20px;
      color: $primary-color-purple;
    }
  }

  .FirmProfileInfo__profileDetails {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.15);
    border-radius: 12px;
    word-break: break-all;

    @media all and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .profileDetails__imageBlock {
    // height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .imageBlock__div {
      text-align: center;

      img {
        width: 100px;
        @media all and (max-width: 768px) {
          margin-top: 10px;
        }
      }

      h4 {
        font-family: $font-family-lato;
        font-size: 18px;
        font-weight: $font-weight-bold;
        color: #000000;
        margin-top: 15px;
      }

      .cinCodeBlock__div {
        background: #f2f2f2;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 20px 10px;
        font-family: $font-family-lato;
        @media all and (max-width: 768px) {
          position: relative;
        }

        h5 {
          font-size: 14px;
          font-weight: $font-weight-regular;
          color: #4f4f4f;
          margin: 0;
        }

        span {
          font-size: 16px;
          font-weight: $font-weight-bold;
          color: #4f4f4f;
        }
      }
    }
  }

  .profileDetails__infoBlock {
    border-left: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $font-family-lato;

    .infoBlock__basicInfo.infoBlock__contactInfo {
      border-top: 1px solid #e5e5e5;
    }

    .infoBlock__basicInfo {
      padding: 30px 10px 30px 30px;
      @media all and (max-width: 768px) {
        padding: 15px 10px 10px 20px;
      }

      h5 {
        font-size: 14px;
        color: #bdbdbd;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        margin-bottom: 15px;
      }

      .infoBlock__basicInfoRow {
        .ant-col {
          margin-bottom: 25px;
          @media all and (max-width: 768px) {
            margin-bottom: 10px;
          }
        }

        span {
          font-size: 14px;
          font-weight: $font-weight-regular;
          color: #4f4f4f;
        }
        h4 {
          font-size: 16px;
          font-weight: $font-weight-bold;
          color: #4f4f4f;
          margin-bottom: 0px;
        }
      }
    }
  }
}
