.userTableBtn {
  background: #633ea5;
  border-color: #633ea5;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
}

.sendReminderBtn {
  border: 1px solid #633ea5;
  color: #633ea5;
  font-style: normal;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  font-size: 14px;
  padding: 11px 24px 10px;
  cursor: pointer;
}

.inviteUserBtn {
  border: 1px solid #633ea5;
  background: #633ea5;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  font-size: 14px;
  padding: 11px 24px 10px;
  cursor: pointer;
}
